body {
    background-color: #ffffff
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia;
    color: rgb(0, 0, 0)
}

p {
    font-size: large;
}

a {
    color: #0366D6
}

green {
    color: #3b6d24;
    font-weight: bold;
}

g {
    color: #FFD700
}

red {
    color: #F44747
}

li {
    color: rgb(0, 0, 0)
}

.center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

right {
    float: right;
    color: gray;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}